[submodule "Libft"]
	path = Libft
	url = git@github.com:alexhiguera/Libft.git
[submodule "Printf"]
	path = Printf
	url = git@github.com:alexhiguera/printf.git
[submodule "Get_next_line"]
	path = Get_next_line
	url = git@github.com:alexhiguera/Get_Next_Line.git
[submodule "Born2beroot-Tutorial"]
	path = Born2beroot-Tutorial
	url = git@github.com:gemartin99/Born2beroot-Tutorial.git
