[submodule "1_Libft"]
	path = 1_Libft
	url = git@github.com:alexhiguera/Libft.git
[submodule "2_ft_printf"]
	path = 2_ft_printf
	url = git@github.com:alexhiguera/printf.git
[submodule "4_Get_next_line"]
	path = 4_Get_next_line
	url = git@github.com:alexhiguera/Get_Next_Line.git
[submodule "6_So_long"]
	path = 6_So_long
	url = git@github.com:alexhiguera/So_long.git
[submodule "7_Push_swap"]
	path = 7_Push_swap
	url = git@github.com:alexhiguera/Push_swap.git
[submodule "libft_2.0"]
	path = libft_2.0
	url = git@github.com:alexhiguera/Libft_2.0.git
[submodule "5_pipex"]
	path = 5_pipex
	url = git@github.com:alexhiguera/Pipex.git
[submodule "10_Cub3d"]
	path = 10_Cub3d
	url = git@github.com:alexhiguera/42cub3d.git
[submodule "9_Minishell"]
	path = 9_Minishell
	url = git@github.com:alexhiguera/minishell.git
