[submodule "Libft_v1.0"]
	path = Libft_v1.0
	url = git@github.com:alexhiguera/Libft.git
[submodule "Printf_v1.0"]
	path = Printf_v1.0
	url = git@github.com:alexhiguera/printf.git
[submodule "Get_next_line_v1.0"]
	path = Get_next_line_v1.0
	url = git@github.com:alexhiguera/Get_Next_Line.git
